<div class="social">
    <div class="voting">
        <div class="vote-option vote-cast">
            <span class="vote-icon fa fa-heart fa-2x"></span>
            <div class="vote-count">5</div>
        </div>
        <div class="vote-option">
            <span class="vote-icon fa fa-birthday-cake fa-2x"></span>
            <div class="vote-count">5</div>
        </div>
        <div class="vote-option">
            <span class="vote-icon fa fa-thumbs-up fa-2x"></span>
            <div class="vote-count">5</div>
        </div>
        <div class="vote-option">
            <span class="vote-icon fa fa-thumbs-down fa-2x"></span>
            <div class="vote-count">5</div>
        </div>
    </div>
</div>
