<div *ngIf="!moduleIsReady">
    <div class="loading">
        <span class="fa fa-spinner fa-spin"></span>
    </div>
</div>

<div *ngIf="moduleIsReady" class="project-detail" [@fadeInAnimation]>
    <div *ngIf="project">
        <div class="side-bar">
            <div *ngIf="project.primary_image.image" class="image">
                <img src="{{ project.primary_image.image }}" alt="Project Image">
                <div class="spacing"></div>
            </div>

            <div *ngIf="project.url">
                <a href="{{ project.url }}" target="_blank" class="to-website">
                    To the website
                    <span class="fa fa-arrow-right pull-right icon"></span>
                </a>
                <div class="spacing"></div>
            </div>

            <div class="tags">
                <a class="tag" *ngFor="let skill of project.skills"
                   (click)="changeRoute('skills', skill.id, skill.slug)">
                    {{ skill.title }}
                </a>
                <div class="spacing"></div>
            </div>

            <div class="spacing"></div>
            <vote-component-container [model]="'project'" [objectId]="project.id"></vote-component-container>

            <div class="spacing"></div>

            <div class="article-data">
                <div>Published on {{ project.datetime_added | date:'longDate' }}</div>
                <div *ngIf="project.datetime_modified">
                    Updated on {{ project.datetime_modified | date:'longDate' }}
                </div>
                <div>Article is read by {{ uniqueReadCount }} visitors</div>
            </div>
        </div>

        <div class="content">
            <h1>{{ project.title }}</h1>

            <div class="text-separator">
                <div class="text">{{ project.datetime_added | date:'longDate' }}</div>
            </div>

            <div class="short-description" [innerHTML]="project.short_description"></div>
            <div class="full-description" [innerHTML]="project.full_description"></div>
        </div>
    </div>
</div>
