<div *ngIf="moduleIsReady" class="project-detail" [@fadeInAnimation]>
    <div *ngIf="project">
        <div class="side-bar side-bar-left">
            <div *ngIf="project.url">
                <a href="{{ project.url }}" target="_blank" class="to-website">
                    To the website
                    <span class="fa fa-arrow-right pull-right icon"></span>
                </a>
            </div>

            <div class="tags">
                <a class="tag" *ngFor="let skill of project.skills"
                   (click)="changeRoute('skills', skill.id, skill.slug)">
                    {{ skill.title }}
                </a>
            </div>

            <div class="social">
                <div class="voting">
                    <div class="vote-option vote-cast">
                        <span class="vote-icon fa fa-heart fa-2x"></span>
                        <div class="vote-count">5</div>
                    </div>
                    <div class="vote-option">
                        <span class="vote-icon fa fa-birthday-cake fa-2x"></span>
                        <div class="vote-count">5</div>
                    </div>
                    <div class="vote-option">
                        <span class="vote-icon fa fa-thumbs-up fa-2x"></span>
                        <div class="vote-count">5</div>
                    </div>
                    <div class="vote-option">
                        <span class="vote-icon fa fa-thumbs-down fa-2x"></span>
                        <div class="vote-count">5</div>
                    </div>
                </div>
            </div>

            <div class="article-data">
                <div>Published on {{ project.datetime_added | date:'longDate' }}</div>
                <div *ngIf="project.datetime_modified">
                    Last update on {{ project.datetime_modified | date:'longDate' }}
                </div>
                <div>Article is read by {{ uniqueReadCount }} visitors</div>
            </div>
        </div>

        <div class="content">
            <h1>{{ project.title }}</h1>

            <div class="date-separator">
                <div class="date">{{ project.datetime_added | date:'longDate' }}</div>
            </div>
            <div class="short-description" [innerHTML]="project.short_description"></div>
            <div class="full-description" [innerHTML]="project.full_description"></div>
        </div>
    </div>
</div>
