<div *ngIf="moduleIsReady" class="project-container" [@fadeInAnimation]>
    <div *ngIf="project">
        <div class="row">
            <div class="col-xs-12 short-description">
                <h1>{{ project.title }}</h1>
                <p [innerHTML]="project.short_description"></p>
            </div>
            <div class="col-xs-12 col-sm-7 description">
                <p [innerHTML]="project.full_description"></p>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div id="image-container"
                     [style.background-image]="'url(' + displayImage + ')' | safe: 'style'">
                </div>

                <div class="image-bar">
                    <ul>
                        <li *ngFor="let image of project.published_images" (click)="changeDisplayImage(image.image)">
                            <img alt="image.title" src="{{ image.image }}" class="thumbnail" />
                        </li>
                    </ul>
                </div>

                <div class="utilities">
                   <a class="tag" *ngFor="let skill of project.skills"
                         (click)="changeRoute('skills', skill.id, skill.slug)">
                       {{ skill.title }}
                   </a>
                </div>

                <div *ngIf="project.url" class="to-website">
                    <a href="{{ project.url }}" target="_blank">
                        <span class="fa fa-external-link"></span> Visit the website
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
