<div class="row">
    <div class="col-xs-12">
        <h1><span class="fa fa-arrow-right"></span> {{ 'PROJECTS_TITLE' | translate }}</h1>

        <div *ngFor="let project of projects">
            <div id="project_{{ project.id }}" class="project"
                 [style.background-image]="'url(' + project.published_images[0].image + ')' | safe: 'style'"
                 (mouseover)="setActiveProject(project.id)"
                 (mouseout)="resetActiveProject()"
                 (click)="openProject(project.id)">
                <div class="interface"
                     [style.display]="(activeProjectId == project.id) ? 'block' : 'none'">
                    <div class="view-icon"><span class="fa fa-search fa-3x"></span></div>
                    <div class="title">{{ project.title }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
