<div class="contact" [@fadeInAnimation]>
    <div class="side-bar">
        <sidebar-profile-component-container [profileId]="profileId"></sidebar-profile-component-container>

        <div class="article-data">
            <div *ngIf="uniqueReadCount">
                Article is read by {{ uniqueReadCount }} visitors
            </div>
        </div>
    </div>

    <div class="contact-container">
        <h1>Feel free to contact me</h1>

        <form (ngSubmit)="sendContactForm()" #contactForm="ngForm" id="contact-form" role="form" novalidate autocomplete="off">
            <div class="form-group">
                <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-user"></span>
                        </span>
                    <input [(ngModel)]="name" name="name" type="text" class="form-control" placeholder="Your name">
                    <div *ngIf="formErrors.name" class="form-error" [@fadeInAnimation]>
                        <span class="fa fa-arrow-up"></span> {{ formErrors.name }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-envelope-open"></span>
                        </span>
                    <input [(ngModel)]="email" name="email" type="text" class="form-control" placeholder="Your e-mail address" value="contact@nrzonline">
                    <div *ngIf="formErrors.email" class="form-error" [@fadeInAnimation]>
                        <span class="fa fa-arrow-up"></span> {{ formErrors.email }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-phone"></span>
                        </span>
                    <input [(ngModel)]="phone" name="phone" type="text" class="form-control" placeholder="Your phone number (optional)">
                    <div *ngIf="formErrors.phone" class="form-error" [@fadeInAnimation]>
                        <span class="fa fa-arrow-up"></span> {{ formErrors.phone }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-building"></span>
                        </span>
                    <input [(ngModel)]="organization" name="organization" type="text" class="form-control" placeholder="Organization name (optional)">
                    <div *ngIf="formErrors.organization" class="form-error" [@fadeInAnimation]>
                        <span class="fa fa-arrow-up"></span> {{ formErrors.organization }}
                    </div>
                </div>
            </div>

            <div class="spacing"></div>

            <div class="form-group">
                <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-pencil"></span>
                        </span>
                    <input [(ngModel)]="subject" name="subject" type="text" class="form-control" placeholder="Subject">
                    <div *ngIf="formErrors.subject" class="form-error" [@fadeInAnimation]>
                        <span class="fa fa-arrow-up"></span> {{ formErrors.subject }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-commenting"></span>
                    </span>
                    <textarea [(ngModel)]="message" name="message" class="form-control" rows="10" placeholder="Your message (Max. 5000 characters)"></textarea>
                    <div *ngIf="formErrors.message" class="form-error" [@fadeInAnimation]>
                        <span class="fa fa-arrow-up"></span> {{ formErrors.message }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group no-borders">
                    <span class="input-group-addon no-padding">
                        <span *ngIf="!formSubmitted" class="fa fa-send"></span>
                        <span *ngIf="formSubmitted" class="fa fa-check"></span>
                    </span>

                    <button *ngIf="!formSubmitted" type="submit" class="btn btn-primary btn-send" [@fadeInAnimation]>
                        <span *ngIf="!formSending">
                            Send message <span class="fa fa-send"></span>
                        </span>
                            <span *ngIf="formSending">
                            Sending.. <span class="fa fa-spinner fa-spin"></span>
                        </span>
                    </button>

                    <div *ngIf="formSubmitted" class="submit-success-message" [@fadeInAnimation]>
                        Thank you, your message has been send. I will respond as soon as possible!
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
