<div *ngIf="!moduleIsReady">
    <div class="loading">
        <span class="fa fa-spinner fa-spin"></span>
    </div>
</div>

<div *ngIf="moduleIsReady" [@fadeInAnimation]>
    <div *ngIf="categorizedSkills.length == 0">
        <div class="meh">
            <div class="icon">
                <span class="fa fa-meh-o fa-8x"></span> Meh!
            </div>
            <div class="error-message">
                Sorry, there are no skills listed yet.
            </div>
        </div>
    </div>

    <div class="skill-list">
        <div class="content" *ngIf="categorizedSkills">
            <div *ngFor="let category of categorizedSkills">
                <div *ngIf="category.skills.length > 0;" class="category-container">
                    <div class="text-separator">
                        <div class="text">{{ category.title }}</div>
                    </div>

                    <div *ngFor="let skill of category.skills" class="skill-wrapper">
                        <div id="skill_{{ skill.id }}" class="skill"
                             [style.background-image]="'url(' + skill.image + ')' | safe: 'style'"
                             (mouseenter)="setActiveSkill(skill.id)"
                             (mouseleave)="resetActiveSkill()"
                             (click)="changeRoute('skills', skill.id, skill.slug)">

                            <div class="interface" *ngIf="activeSkillId == skill.id" [@fastFadeInAnimation]>
                                <div class="view-icon"><span class="fa fa-search fa-2x"></span></div>
                            </div>
                        </div>

                        <div class="level-wrapper">
                            <div class="level-indicator"></div>
                            <div class="level-progress-mask"
                                 [style.width]="getSkillLevelPercentage(skill.level, skill.level_max) + '%'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
