@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)

@import '../../../node_modules/font-awesome/css/font-awesome.css'

@import 'parameters.sass'
@import 'animations.sass'

// GENERAL ##################################################

html, body
  width: 100%
  height: 100%
  font-family: Verdana, Geneva, sans-serif
  color: #3e3e3e
  background: #16222A
  background: -webkit-linear-gradient(to top, #3A6073, #16222A)
  background: linear-gradient(to top, #3A6073, #16222A)
  background-repeat: no-repeat
  background-attachment: fixed
  -webkit-backface-visibility: hidden

.header
  width: 100%
  height: 280px
  max-width: 1045px
  margin: auto
  position: relative
  .logo
    position: absolute
    background: url('../images/logo.gif') center no-repeat
    width: 220px
    height: 200px
    top: 55px
    left: 140px
  .title
    position: absolute
    top: 110px
    left: 390px
    font-family: $montserrat
    color: white
    font-weight: bold
    font-size: 4rem
    line-height: 45px
    text-align: center
    animation-delay: 5s
    // background: rgba(black, .4)
    display: inline-block
    padding: 10px
    text-shadow: 0 0 20px rgba(black, .5)
    .secondary
      color: #8bcdde
      font-weight: normal
  .header-line
    width: 40px
    height: 4px
    margin: auto
    background: #8bcdde
    display: inline-block
  .header-line-white
    background: white

.large-center-col
  width: 95%
  height: calc(100% - 280px)
  margin: 0 auto 0 0
  max-width: 1045px

  @media screen and (min-width: $screen-small)
    width: 94%
    margin: 0 auto 20px auto
    border: none

.container
  width: 100%
  min-height: 100%
  padding: 20px 50px
  background: white
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.70)
  display: inline-block
  h1
    font-size: 18px
    font-weight: bold

  @media screen and (max-width: $screen-small)
    width: 100%
    margin: 0
    padding: 10px
  @media screen and (min-width: $screen-small)
    padding: 20px

footer
  margin-top: 25px
  .hire-me
    padding: 40px
    font-size: 25px

a,
a:active,
a:visited
  color: #19272f
  &:hover
    color: darken(#19272f, 20)
    text-decoration: none

// COMPONENTS ##################################################

.quote
  padding: 10px 25px
  margin: 25px
  background-color: #f5f5f5
  font-size: 13px
  font-style: italic
  text-align: center
  border-radius: 10px
  letter-spacing: 1px
  border-left: 4px #7392a5 solid
  border-right: 4px #7392a5 solid
  animation: pop-in .3s ease-out forwards
  .quote-from
    padding-top: 8px
    font-size: 11px
    color: #828282
    display: block
    clear: both
    position: relative
    &:before
      content: "\2014"

  @media screen and (max-width: $screen-small)
    margin: 10px

.tag
  padding: 10px
  margin: 0 5px 5px 5px
  font-size: 12px
  font-weight: bold
  color: white
  background: #19272f
  border: #ddd
  display: inline-block
  cursor: pointer
  &:hover,
  &:active,
  &:visited,
  &:focus
    color: white!important
    text-decoration: none
    background: lighten(#19272f, 15)


// BOOTSTRAP ################################################

.navbar
  width: 100%
  height: 40px
  margin: 0
  border: 0
  position: fixed
  border-radius: 0
  background: #20333e
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.30)
  z-index: 3
  .navbar-brand
    float: none
  .navbar-collapse
    border: 0
    -webkit-box-shadow: none
    box-shadow: none
  .navbar-header
    height: 100%
    .navbar-toggle
      width: 170px
      height: 100%
      margin: 0 0 0 15px
      color: white
      font-size: 14px
      border-radius: 0
      float: none
      background: #2c4350
      border: 0
      .button-text
        padding-left: 17px
      .fa
        padding-top: 5px
  .nav
    margin: 0
    text-align: center
    li
      float: none
      display: inline-block
      width: 170px
      color: white
      text-align: center
      letter-spacing: 1px
      background: #20333e
      >a
        color: white
        padding: 15px
        &:hover,
        &:focus
          color: white
          background: #3a5565
    .active
      a,
      a:visited,
      a:active,
      a:focus
        color: white
        background: #2c4350
        &:hover
          background: #334c5a
          color: white

.is-active
  background-color: #3a5565


@media screen and (max-width: $screen-small)
  .navbar
    height: 40px
  .container-fluid
    height: 100%
  .navbar-header
    float: none
  .navbar-toggle
    display: block
  .navbar-collapse
    border-color: transparent
    box-shadow: none
  .navbar-collapse.collapse
    display: none !important
  .navbar-nav
    float: none !important
    margin: 7.5px -15px
  .navbar-nav>li
    float: none
  .navbar-nav>li>a
    padding-top: 0
    padding-bottom: 0
  .navbar-text
    float: none
    margin: 15px 0
  .navbar-collapse.collapse.in
    display: block !important
  .collapsing
    overflow: hidden !important

// BACKGROUND ################################################

.background-row
  position: fixed
  top: 1100px
  width: 4000px
  opacity: .02

  @media screen and (max-width: $screen-small)
    display: none

#bg-first-row
  height: 315px
  transform: rotate(45deg)
#bg-second-row
  height: 315px
  transform: rotate(-45deg)
#bg-third-row,
#bg-fifth-row
  height: 145px
  transform: rotate(-45deg)
#bg-fourth-row,
#bg-sixth-row
  height: 145px
  transform: rotate(45deg)

// GRADIENTS #################################################

.white-gradient
  background: #FFFFFF
  background: -webkit-linear-gradient(to left, #FFFFFF, #93baf9)
  background: linear-gradient(to left, #FFFFFF, #93baf9)
