@import '../../../node_modules/font-awesome/css/font-awesome.css'

@import 'parameters'
@import 'components'
@import 'navbar'
@import 'animations'


@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  src: url('../fonts/montserrat/montserrat-v10-latin-regular.eot')
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-v10-latin-regular.woff2') format('woff2'), url('../fonts/montserrat/montserrat-v10-latin-regular.woff') format('woff'), url('../fonts/montserrat/montserrat-v10-latin-regular.ttf') format('truetype'), url('../fonts/montserrat/montserrat-v10-latin-regular.svg#Montserrat') format('svg')

html, body
  width: 100%
  height: 100%
  font-family: Verdana, Geneva, sans-serif
  color: #3e3e3e
  background: #16222A
  background: -webkit-linear-gradient(to top, #3A6073, #16222A)
  background: linear-gradient(to top, #3A6073, #16222A)
  background-repeat: no-repeat
  background-attachment: fixed
  -webkit-backface-visibility: hidden

h1
  font-weight: bold
  font-size: 28px
  text-align: center
  margin-bottom: 30px
  @media screen and (max-width: $screen-small)
    font-size: 22px
    margin: 10px 0

h2
  font-weight: bold
  font-size: 24px
  margin: 40px 0 20px 0
  @media screen and (max-width: $screen-small)
    font-size: 18px
    margin: 20px 0 5px 0

a,
a:active,
a:visited
  color: #19272f
a:hover
  color: darken(#19272f, 20)
  text-decoration: none

.header
  width: 100%
  height: 270px
  max-width: 1045px
  margin: auto
  position: relative

  .logo
    position: absolute
    background: url('../images/logo.gif') center no-repeat
    width: 220px
    height: 200px
    top: 55px
    left: 140px
  .title
    position: absolute
    top: 110px
    left: 390px
    font-family: $montserrat
    color: white
    font-weight: bold
    font-size: 4rem
    line-height: 45px
    text-align: center
    animation-delay: 5s
    display: inline-block
    padding: 10px
    text-shadow: 0 0 20px rgba(black, .5)
    letter-spacing: 2px
    .secondary
      color: #8bcdde
      font-weight: normal
      font-size: 24px
  .header-line
    width: 40px
    height: 4px
    margin: auto
    background: #8bcdde
    display: inline-block
  .header-line-white
    background: white

  @media screen and (max-width: $screen-small)
    height: 200px
    .logo
      top: 20px
      left: -30px
      opacity: .8
    .title
      left: 30%
      top: 80px
      font-size: 36px
      letter-spacing: 1px
      .secondary
        position: absolute
        font-size: 18px
        left: 55px
        top: 45px
  @media screen and (max-width: 500px)
    .logo
      opacity: .3
    .title
      left: 13%
      font-size: 28px
      letter-spacing: 0
      .secondary
        font-size: 14px
        text-shadow: 1px 1px 0 black

.large-center-col
  width: 95%
  height: calc(100% - 280px)
  margin: 0 auto 0  auto
  max-width: 1045px
  z-index: 1

  @media screen and (max-width: $screen-small)
    width: 93%
    margin: 0 auto 20px auto
    border: none

.container
  width: 100%
  min-height: 100%
  padding: 20px 50px
  background: white
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.70)
  display: inline-block
  z-index: 2

  @media screen and (max-width: $screen-small)
    width: 100%
    margin: 0
    padding: 10px
  @media screen and (min-width: $screen-small)
    padding: 20px

.content-container
  width: 100%
  padding: 0

footer
  margin: 25px 0
  font-size: 13px
  color: white
  a,
  a:active,
  a:visited,
  a:focus,
  a:focus
    padding: 0 10px
    color: white
    text-shadow: 1px 1px 0 #272727
    background: none
    text-decoration: none
    &:hover
      color: #9fdeee
  a.is-active
    color: #9fdeee
    background: none
  @media screen and (max-width: $screen-small)
    text-align: center
