@import '../../../node_modules/font-awesome/css/font-awesome.css'

@import 'parameters.sass'
@import 'animations.sass'

// GENERAL ##################################################

html, body
  width: 100%
  height: 100%
  font-family: Verdana, Geneva, sans-serif
  color: #3e3e3e
  background: #16222A
  background: -webkit-linear-gradient(to top, #3A6073, #16222A)
  background: linear-gradient(to top, #3A6073, #16222A)
  background-repeat: no-repeat
  background-attachment: fixed
  -webkit-backface-visibility: hidden

@font-face
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 400
  src: url('../fonts/montserrat/montserrat-v10-latin-regular.eot')
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-v10-latin-regular.woff2') format('woff2'), url('../fonts/montserrat/montserrat-v10-latin-regular.woff') format('woff'), url('../fonts/montserrat/montserrat-v10-latin-regular.ttf') format('truetype'), url('../fonts/montserrat/montserrat-v10-latin-regular.svg#Montserrat') format('svg')

h1
  font-weight: bold
  font-size: 28px
  text-align: center
  margin-bottom: 30px
  @media screen and (max-width: $screen-small)
    font-size: 22px
    margin: 10px 0

h2
  font-weight: bold
  font-size: 24px
  margin: 40px 0 20px 0
  @media screen and (max-width: $screen-small)
    font-size: 18px
    margin: 20px 0 5px 0

a,
a:active,
a:visited
  color: #19272f
a:hover
  color: darken(#19272f, 20)
  text-decoration: none

.header
  width: 100%
  height: 280px
  max-width: 1045px
  margin: auto
  position: relative

  .logo
    position: absolute
    background: url('../images/logo.gif') center no-repeat
    width: 220px
    height: 200px
    top: 55px
    left: 140px
  .title
    position: absolute
    top: 110px
    left: 390px
    font-family: $montserrat
    color: white
    font-weight: bold
    font-size: 4rem
    line-height: 45px
    text-align: center
    animation-delay: 5s
    display: inline-block
    padding: 10px
    text-shadow: 0 0 20px rgba(black, .5)
    letter-spacing: 2px
    .secondary
      color: #8bcdde
      font-weight: normal
      font-size: 24px
  .header-line
    width: 40px
    height: 4px
    margin: auto
    background: #8bcdde
    display: inline-block
  .header-line-white
    background: white

  @media screen and (max-width: $screen-small)
    height: 200px
    .logo
      top: 20px
      left: -30px
      opacity: .8
    .title
      left: 30%
      top: 80px
      font-size: 36px
      letter-spacing: 1px
      .secondary
        position: absolute
        font-size: 18px
        left: 55px
        top: 45px
  @media screen and (max-width: 500px)
    .logo
      opacity: .3
    .title
      left: 13%
      font-size: 28px
      letter-spacing: 0
      .secondary
        font-size: 14px
        text-shadow: 1px 1px 0 black

.large-center-col
  width: 95%
  height: calc(100% - 280px)
  margin: 0 auto 0  auto
  max-width: 1045px
  z-index: 1

  @media screen and (max-width: $screen-small)
    width: 93%
    margin: 0 auto 20px auto
    border: none

.container
  width: 100%
  min-height: 100%
  padding: 20px 50px
  background: white
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.70)
  display: inline-block
  z-index: 2

  @media screen and (max-width: $screen-small)
    width: 100%
    margin: 0
    padding: 10px
  @media screen and (min-width: $screen-small)
    padding: 20px

.content-container
  width: 100%
  padding: 0

img
  width: 150px
  height: 150px
  padding: 5px
  border: 1px gainsboro solid
  background: white
  box-shadow: 0 0 5px #d2d2d2

.spacing
  @media screen and (max-width: $screen-small)
    margin-top: 10px
  @media screen and (min-width: $screen-small)
    margin-top: 20px
  @media screen and (min-width: $screen-large)
    margin-top: 30px

.meh
  text-align: center
  .icon
    font-weight: bold
    padding: 30px 0 10px 0
  .error-message
    font-size: 25px

.fa-8x
  font-size: 8em

footer
  margin: 25px 0
  font-size: 13px
  color: white
  a,
  a:active,
  a:visited
    padding: 0 10px
    color: white
    text-shadow: 1px 1px 0 #272727
    background: none
    &:hover
      color: #b1e0f1
  @media screen and (max-width: $screen-small)
    text-align: center

// COMPONENTS ##################################################

.content
  text-align: justify

.image-container
  background: #F7F7F7 center no-repeat
  border: 1px #E6E6E6 solid
  box-sizing: border-box
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)

.box
  background: #F7F7F7 center no-repeat
  border: 1px #E6E6E6 solid
  box-sizing: border-box
  position: relative
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)

.side-bar
  text-align: center
  float: right
  width: 220px
  padding: 25px 10px
  margin: 0 0 10px 20px
  box-shadow: 0 0 3px #d2d2d2
  background: #f7f7f7
  .to-website
    display: inline-block
    width: 180px
    padding: 10px
    text-align: center
    margin: 0 5px 25px 5px
    color: #283b46
    border: 1px gainsboro solid
    background: white
    font-size: 14px
    transition: .1s all
    cursor: pointer
    &:hover
      background: lighten(#19272f, 15)
      color: white
    .icon
      padding-top: 3px
      color: #a7a7a7
      float: right
  .tags
    text-align: center
  .icons
    overflow: hidden
    text-align: center
    .icon
      display: inline-block
      padding: 5px
      width: 40px
      text-align: center
      background: white
      border: 1px gainsboro solid
      cursor: pointer
      transition: .1s all
      a
        transition: .1s all
        color: #8c8c8c
      &:hover
        a
          color: #283b46

  .article-data
    clear: both
    margin-top: 30px
    font-size: 10px
    color: #828282
    text-align: center
    .icon
      color: gainsboro

  @media screen and (max-width: $screen-small)
    margin: 0 auto 10px auto
    float: none
    .article-data
      display: none

.btn,
.tag
  display: inline-block
  padding: 5px 15px
  margin: 0 5px 5px 5px
  color: #283b46
  font-size: 12px
  border: 1px gainsboro solid
  border-left: #283b46 2px solid
  background: white
  cursor: pointer
  transition: .1s all
  &:hover,
  &:active,
  &:visited,
  &:focus
    color: white!important
    text-decoration: none
    background: lighten(#19272f, 15)
    border-color: #283b46

.voting
  margin-top: 30px
  color: #3a5565
  left: 50%
  .vote-option
    display: inline-block
    border: 1px #e5e7e8 solid
    padding: 5px
    margin: 0 1px
    background: white
    cursor: pointer
  .vote-count
    background: #3a5565
    color: white
    font-size: 11px
  .vote-message
    position: absolute
    width: 200px
    text-align: center
    font-size: 11px
    padding: 3px
    .vote-error
      position: relative
      color: #a92a2a
    .vote-success
      position: relative
      color: #3a751c
.vote-cast
  .vote-icon
    color: #e22828
  .vote-count
    background: #e22828
    color: white
.vote-option:hover
  .vote-icon
    transform: scale(.85)

.text-separator
  border-bottom: 1px #f7f7f7 solid
  overflow: hidden
  .text
    text-align: center
    width: 200px
    padding: 5px
    color: #828282
    margin: 0 auto
    font-weight: normal
    font-size: 12px
    background: #f7f7f7

blockquote
  text-align: center
  float: left
  width: 100%
  max-width: 300px
  padding: 20px
  font-size: 16px
  font-style: italic
  margin: 20px 20px 20px 0
  background: #f7f7f7
  border-left: #283b46 2px solid
  &:before
    content: open-quote
    font-size: 35px
    float: left

// BOOTSTRAP ################################################

.navbar
  width: 100%
  height: 40px
  margin: 0
  border: 0
  position: fixed
  border-radius: 0
  background: #20333e
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.30)
  z-index: 3
  .navbar-brand
    float: none
  .navbar-collapse
    border: 0
    -webkit-box-shadow: none
    box-shadow: none
  .navbar-header
    height: 100%
    .navbar-toggle
      width: 170px
      height: 100%
      margin: 0 auto
      color: white
      font-size: 14px
      border-radius: 0
      float: none
      background: #2c4350
      border: 0
      .button-text
        padding-left: 17px
      .fa
        padding-top: 5px
  .nav
    text-align: center
    li
      float: none
      display: inline-block
      width: 170px
      color: white
      text-align: center
      letter-spacing: 1px
      background: #20333e
      >a
        color: white
        padding: 15px
        &:hover,
        &:focus
          color: white
          background: #3a5565
    .active
      a,
      a:visited,
      a:active,
      a:focus
        color: white
        background: #2c4350
        &:hover
          background: #334c5a
          color: white

@media screen and (max-width: $screen-small)
  .navbar
    height: 40px
  .container-fluid
    height: 100%
  .navbar-header
    float: none
  .navbar-toggle
    display: block
  .navbar-collapse
    border-color: transparent
    box-shadow: none
  .navbar-collapse.collapse
    display: none !important
  .navbar-nav
    float: none !important
    margin: 7.5px -15px
  .navbar-nav>li
    float: none
  .navbar-nav>li>a
    padding-top: 0
    padding-bottom: 0
  .navbar-text
    float: none
    margin: 15px 0
  .navbar-collapse.collapse.in
    display: block !important
  .collapsing
    overflow: hidden !important
  .nav
    width: 170px
    margin: 0 auto

// BACKGROUND ################################################

.background-row
  display: none
  position: fixed
  top: 1100px
  width: 4000px
  opacity: .02
  z-index: 0

  @media screen and (max-width: $screen-small)
    display: none

#bg-first-row
  height: 315px
  transform: rotate(45deg)
#bg-second-row
  height: 315px
  transform: rotate(-45deg)
#bg-third-row,
#bg-fifth-row
  height: 145px
  transform: rotate(-45deg)
#bg-fourth-row,
#bg-sixth-row
  height: 145px
  transform: rotate(45deg)

// GRADIENTS #################################################

.white-gradient
  background: #FFFFFF
  background: -webkit-linear-gradient(to left, #FFFFFF, #93baf9)
  background: linear-gradient(to left, #FFFFFF, #93baf9)
