@import 'parameters.sass'

// GENERAL ##################################################

.project-container
  padding: 0px

.short-description
  font-size: 16px
  font-style: italic
  padding: 0 100px 25px 100px
  text-align: center

  @media screen and (max-width: $screen-small)
    padding: 0 20px 15px 20px

.description
  padding-right: 20px
  text-align: justify
  h2
    font-size: 17px
    font-weight: bold
    margin-top: 0

#image-container
  height: 350px
  max-height: 350px
  width: 100%
  max-width: 500px
  float: right
  margin: 0 auto
  background: #F7F7F7 center no-repeat
  border: 1px #E6E6E6 solid
  box-sizing: border-box

.image-bar
  clear: both
  text-align: center
  ul
    padding-left: 0
    margin-left: 0
    margin-bottom: 0
    li
      display: inline-block
      margin: 5px
      .thumbnail
        width: 125px
        height: 125px
        border: none
        padding: 0
        margin-bottom: 0
        border-radius: 0
        cursor: pointer

.utilities
  text-align: center
  clear: both

.to-website
  font-weight: bold
  font-size: 16px
  text-align: center
  padding: 25px
